/* 
Main CSS Styles for weather station web app
*/

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Make sure content is positioned above background */
body {
    position: relative;
}

/* Blurred background using pseudo-element - stays fixed */
body::before {
    content: "";
    position: fixed;  /*This keeps it static while content scrolls  */
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-image: url('clouds.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: -1;
}

header {
    padding: 20px;
    font-family: sans-serif;
    color: #ccc;
    text-align: center;
    background: #000;
}


/* Top bar */
.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;   /* centers the group */
}

/* Inner wrapper so links keep their left-to-right layout */
.nav-center {
    display: inline-flex;
}

/* Links (same style as before, but remove float) */
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Active */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}


.error_class {
    padding: 5px;
    margin: 5px;
    color: #b30101;
}

/*
.container { 
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px;
    margin: 0 auto;         *//* center horizontally *//*
    width: 100%;
}*/

/* 
#chart {
    width: 100%;
    padding: 10px;
    aspect-ratio: 3 / 1;
    background-color: rgba(30, 30, 40, 0.5);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    border-radius: 12px;
} */


.container { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px;
    margin: 5% auto;         /*center horizontally */
    width: 95%;
    aspect-ratio: 3 / 1;
    background-color: rgba(30, 30, 40, 0.5);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    border-radius: 12px;
}


* {
    box-sizing: border-box;
}
